*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;

  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax (120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  border: 1px solid goldenrod;
  outline: none;
  background-color: rgba(104, 101, 101, 0.7);
  /* border-radius: auto; */
}

.calculator-grid > button:hover {
  background-color: rgba(245, 241, 241, 0.8);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(24, 23, 23, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(245, 241, 241, 0.8);
  font-size: 1.5rem;
}

.output .current-operand {
  color: goldenrod;
  font-size: 1.5rem;
}
